@model EmployeeInfo.Models.Employee

<div class="bg-secondary bg-opacity-10 py-2">
	<div class="container">
		<h1>Add New Employee</h1>
	</div>
	<div class="container py-5">
		<form method="post" asp-controller="AdminEmployee" asp-action="Create" enctype="multipart/form-data">
			<label>Employee Name</label>
            <input class="form-control mb-3" type="text" asp-for="Name" />
			<label >Post</label>
			<input class="form-control mb-3" type="text" asp-for="Post" />
			<label>Phone</label>
			<input class="form-control mb-3" type="number" asp-for="Phone" />
			<label>Address</label>
			<input class="form-control mb-3" type="text" asp-for="Address" />
			<label>Email</label>
			<input class="form-control mb-3" type="text" asp-for="Email" />
            <label asp-for="Date">Date</label>
			<input class="form-control mb-3" type="date" asp-for="Date" />
			@* <label>Image Upload</label> *@
			@* <input class="form-control" type="file" asp-for="ImgFile" /> *@

			@* Image *@
			<div class="mb-3">
				<label asp-for="ImgFile" class="form-label"></label>
				<input type="file" class="form-control" id="imageUpload" asp-for="ImgFile">
			</div>

			@* Image Preview *@
			<div class="mb-3">
				<img src="" id="imageUrl" class="imageUrl" alt="Employee image">
			</div>

			<button class="btn btn-outline-primary mt-3">Add</button>
		</form>
	</div>
</div>
@section Scripts
{
	<script>
		async function uploadImage() {
			const file = document.getElementById('imageUpload').files[0];
			const formData = new FormData();
			formData.append('file', file);

			try {
				const response = await fetch('/api/image', {
					method: 'POST',
					headers: {
						'Accept': '*/*'
					},
					body: formData
				});
				if (!response.ok) {
					throw new Error(`HTTP error! status: ${response.status}`);
				}
				const data = await response.json();
				document.getElementById('imageUrl').src = data.link;
				console.log('Upload successful:', data);
			} catch (error) {
				console.error('Upload failed:', error);
			}
		}
		document.getElementById('imageUpload').addEventListener('change', uploadImage);
	</script>
}